.sectionWrapper {
    padding: 0px 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.autoCompleteDiv {
    position: absolute;
    background-color: var(--color-black);
    border: 1px solid var(--color-primary);
    border-radius: 0 0 10px 10px;
    left: 25vw;
    right: 25vw;
    width: 50vw;
    max-height: 50vh;
    overflow-y: scroll;
    z-index: 10;
}