.mainDiv {
    width: 100%;
    /* filter: brightness(50%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    /* gap: 24px; */
}

.albumInfoCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 2.5%;
    width: 100%;
    height: 20%;
    cursor: pointer;
    border-radius: 10px;
}

.albumInfoCard:hover {
    background-color: var(--color-hovor);
}

.albulData {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: 80%;
    /* padding: 2.5% 0; */
}

.albulData>img {
    border: 5px solid rgba(29, 29, 29, 1);
    border-radius: 5px;
    width: 15%;
    /* height: 15%; */
}

.typography>h6 h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;

}